DB_URL=jdbc:mysql://localhost:3306/local_db_name?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
DB_USERNAME=local_username
DB_PASSWORD=local_password
GEOCODING_BASE_URL=https://dapi.kakao.com
KAKAO_LOCAL_API_KEY=your_kakao_local_rest_api_key
