DB_URL=jdbc:mysql://localhost:3306/local_db_name?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
DB_USERNAME=local_username
DB_PASSWORD=local_password
GEOCODING_BASE_URL=https://dapi.kakao.com
KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:3000/oauth/kakao/callback
JWT_SECRET_KEY=your_jwt_secret_key_at_least_32_bytes
JWT_ACCESS_TOKEN_EXPIRATION_MILLIS=3600000
JWT_REFRESH_TOKEN_EXPIRATION_MILLIS=1209600000
JWT_SIGNUP_TOKEN_EXPIRATION_MILLIS=600000
